@model Empower.Models.Account.ForgotPasswordDTO
@{
    // Layout = "_LayoutLogin";
    ViewData["PageTitle"] = "Forgot Password";
}


<style>
    .validation-summary-errors ul {
        list-style-type: none; /* Remove bullet points */
        padding: 0; /* Remove default padding */
    }
</style>

<div class="account-pages mt-5 mb-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="text-center m-auto">
                    <div class="auth-brand">
                        @* <a href="#" class="logo logo-dark text-center">
                            <span class="logo-lg">
                                <img src="~/images/logo-dark.png" />
                            </span>
                        </a> *@
                    </div>

                </div>
                <div class="card bg-pattern bgtrans">

                    <div class="card-body p-4">
                        <div class="text-center loginwelcome mb-4 mb-md-4">
                            <h1>Forgot Password?</h1>
                            <p>Please enter the email address to receive password reset Information </p>
                        </div>

                        @if (Model?.EmailSent == true)
                        {
                            <div class="alert alert-success" role="alert">
                                <p>
                                    If you are registered with us, <br />
                                    We have sent an email on your registered email id
                                </p>
                            </div>
                        }
                        else
                        {
                            <form asp-action="ForgetPassword" method="post">

                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                                <div class="form-floating floatingcus ">

                                    @*   <input type="email" class="form-control" id="floatingInput" placeholder="company@info.com" value="info@gmail.com">
                                <i class="fa-regular fa-user"></i>
                                <label for="floatingInput">Email address</label> *@

                                    <label asp-for="@Model.UserEmail" class="form-label"></label>
                                    <input asp-for="UserEmail" class="form-control">

                                    <i class="fa-regular fa-user"></i>

                                    @*  <label class="form-label mb-2">Email ID</label>
                                <input type="text" class="form-control" asp-for="UserEmail" placeholder="Enter Email ID" style="padding-right: 60px">
                                <span asp-validation-for="UserEmail" class="text-danger"></span> *@
                                </div>
                                <span asp-validation-for="@Model.UserEmail" class="text-danger"></span>


                                <div class="text-center d-grid mt-3">
                                    <button type="submit" class="btn btn-primary shadow-lg btn-lg py-2">
                                        Reset Password
                                    </button>
                                </div>
                            </form>
                        }
                        <div class="text-center pt-3">
                            @* <p>Back to Login</p> *@
                            <a href="/Account/Login" class="link-primary forget-pass text-dark">Back to Login</a>
                        </div>




                    </div> <!-- end card-body -->
                </div>
                <!-- end card -->
                <!-- end row -->

            </div> <!-- end col -->
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</div>